<template>
  <div class="row add_message">
    <div class="col-sm-12">
      <p>{{mcounter}} messages from 10</p>
      <template v-if="mcounter < 10">
        <textarea v-model="message" @keyup.enter="submitMessage"></textarea>
        <button @click="submitMessage">Submit</button>
      </template>
    </div>
  </div>
</template>

<script>
	import { eventBus } from '../../main.js'
  export default {
    props: {
      messages: {
        type: [Array, Object]
      },
      mcounter: {
        type: Number
      }
    },
    data: function () {
      return {
        message: ''
      }
    },
    methods: {
      submitMessage () {
        this.messages.push (this.message);
        eventBus.$emit('changeArray', this.messages);
        this.message = '';
      }
    }

  }
</script>

<style lang="scss" scoped>
    .add_message{
      padding: 30px 0;
      textarea{
        width: 60%;
        margin: 0 auto;
        border: 1px solid #ccc;
        background:#fff;
        height: 100px;
        display:block;
      }
      button{
      	margin-left: 20%;
      	margin-top: 15px;
      	margin-bottom: 20px;
      }
    }
</style>