<template>
  <div class="messages col-sm-12 col-md-6 offset-md-3 clearfix">
    <one-message v-for="(message, index) in messages">
      <div @click="removeCurrent(index)" :class="{even: index % 2 === 0, odd: index % 2 != 0}">
        <div class="mID">#{{ index }}</div>
        <div class="message">{{ message }}</div>
      </div>
    </one-message>
  </div>
</template>

<script>
  import { eventBus } from '../../main.js'
  import oneMessage from './oneMessage.vue'

  export default {
    props: {
      messages: {
        type: [Array, Object]
      }
    },
    components: {
      oneMessage: oneMessage
    },
    methods: {
      removeCurrent(index) {
        this.messages.splice (index, 1);
        eventBus.$emit('changeArray');
      }
    }
  }
</script>

<style lang="scss" scoped>
	  .messages{
      .even{
        clear: both;
        float: left;
        background: rgba(255, 0, 0, 0.3);
        padding: 15px;
        min-width: 60%;
        max-width: 90%;
        cursor: pointer;
      }
      .odd{
        clear:both;
        float: right;
        background: rgba(0, 255, 0, 0.3);
        padding: 15px;
        min-width: 60%;
        max-width: 90%;
        cursor: pointer;
      }
    }
</style>