<template>
  <div>
    <progress-bar :mcounter="mcounter"></progress-bar>
    <add-message :mcounter="mcounter" :messages="messages"></add-message>
    <app-messages :messages="messages"></app-messages>
  </div>
</template>

<script>

  import { eventBus } from '../../main.js'
  import addMessage from './addMessage.vue'
  import Messages from './Messages.vue'
  import ProgressBar from './ProgressBar.vue'

  export default {
    data: function () {
      return {
        title: 'Messaging sustem!',
        messages: [],
        mcounter: 0
      }
    },
    methods: {
    	countArray () {
        return (this.messages.length) ? this.messages.length : 0
      }
    },
    components: {
      addMessage: addMessage,
      progressBar: ProgressBar,
      appMessages: Messages
    },
    created() {
        eventBus.$emit('changeTitle', this.title);
        eventBus.$on('changeArray', () => {
        	this.mcounter = this.countArray ();
        })
    }
  }
</script>

<style>
  
</style>