<template>
    <div class="bar_wrapper">
        <div :style="{width:mcounter * 10 + '%'}" class="bar_progress">{{ mcounter * 10 + '%' }}</div>
    </div>
</template>

<script>
    export default {
      props: ['mcounter']
    }
</script>

<style scoped>
    .bar_wrapper{
        width: 100%;
        height: 25px;
        border-radius: 25px;
        border:1px solid #333;
        background: #ddd;
        position: relative;
    }
    .bar_progress{
        border-radius: 15px;
        height: 100%;
        position: absolute;
        left: 0;
        top:0;
        background: blue;
        line-height: 25px;
        text-align: center;
        color:#fff;
        font-weight: bold;
        font-size: 12px;
    }
</style>
