<template>
	<div class="wrap">
	  	<service-header></service-header>
		<div class="container">
		    <hr>
		    <ul class="nav nav-pills">
			    <li class="nav-item"><router-link class="nav-link" active-class="active" exact to="/">{{ 'users' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/services">{{ 'services' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/dunamic">{{ 'dunamic' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/messaging">{{ 'messaging' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/forms">{{ 'forms' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/directives">{{ 'directives' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/filters_mixins">{{ 'filters' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/animations">{{ 'animations' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/math_quiz">{{ 'mathquiz' | firstCharCapital }}</router-link></li>
			    <li class="nav-item"><router-link class="nav-link" active-class="active" to="/axios">{{ 'axios' | firstCharCapital }}</router-link></li>
		    </ul>
		  
		    <hr>
		    <router-view></router-view>
		   
		    <hr>
			<service-footer></service-footer>
		</div>
	    
	</div>
</template>

<script>
import store from './store'
 export default {
 	data: function() {
 		return {
 			status: 'Not changed yet',
 			title: 'Services Status!',
 			page: 'users'
 		}
 	},
 	store,
 	methods: {
 		changeTitle(title) {
 			this.title = title;
 		}
			
 	}
 }
</script>

<style>

</style>
