<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="!service">Server Details are currently not updated</p>
        <div v-if="service">
          <p>Service id: <strong>{{service.id}}</strong> Status: <strong>{{service.serviceStatus}}</strong></p>
          <hr>
          <a href="#" class="btn btn-sm" @click="service.serviceStatus = 'Normal'">Normal</a> 
        <a href="#" class="btn btn-sm" @click="service.serviceStatus = 'Unknown'">Unknown</a> 
        <a href="#" class="btn btn-sm" @click="service.serviceStatus = 'Critical'">Critical</a> 
        <a href="#" class="btn btn-sm" @click="service.serviceStatus = 'Overloaded'">Overloaded</a>
      </div>
    </div>
</template>
<script>
  import { servicesBus } from './main.js'
  export default {
    props: {
      service: {
        type: Object,
        default: null
      }
    },
    created () {
      servicesBus.$on('serviceSelected', (service) => {
        console.log(service)
        this.service = service
      })
    }
  }
</script>