<template>
  <li style="display: block;">
      <span style="cursor: pointer" @click="selectService()">Service id:<strong>{{ service.id }}</strong></span>
      <a href="#" class="btn btn-sm" @click="setStatus(service.id,'Normal')">Normal</a> 
      <a href="#" class="btn btn-sm" @click="setStatus(service.id,'Unknown')">Unknown</a> 
      <a href="#" class="btn btn-sm" @click="setStatus(service.id,'Critical')">Critical</a> 
      <a href="#" class="btn btn-sm" @click="setStatus(service.id,'Overloaded')">Overloaded</a> 
      <span class="pull-right">Status: <strong>{{ service.serviceStatus }}</strong></span>
  </li>
</template>
<script>
  import { servicesBus } from './main.js'

  export default {
    props: {
      service: {
        type: Object
      },
      setStatus: {
        type: Function
      }
    },
    data: function () {
      return {
      }
    },
    methods: {
      selectService () {
        servicesBus.$emit('serviceSelected', this.service)
      }
    }
  }
</script>