<template>

    <div class="header">
        <div class="top_row">
            <div class="container">
                    <auth-form></auth-form><sign-up-form></sign-up-form>
            </div>
        </div>
    	<div class="">
            <div class="">
                <div>
                    <br />
                    <h1 class="text-center">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { eventBus } from "./main.js";

    import AuthForm from './components/auth/AuthForm.vue'
    import SignUpForm from './components/auth/SignUpForm.vue'

    import store from './store.js'

	export default {
		data: function() {
			return{
				title: 'Title'
			}
		},
		created() {
            eventBus.$on('changeTitle', (title) => {
                this.title = title;
                console.log( title );
            });
        },
        store,
        components: {
            'auth-form': AuthForm,
            'sign-up-form': SignUpForm
        }
	}
</script>

<style lang="scss"> 
    .top_row{
        background: #333;
        height: 40px;
    }

            .lnk{
            float: right;   
            margin: 0;
            padding: 0 15px;
            color: #fff;
            line-height: 40px;
            background: transparent;
            border: none;
            &:hover{
                cursor: pointer;
            }
            &:active, &:focus{
                outline: none !important;
                box-shadow: none !important;
            }
        }
</style>