<template>
	<div class="row">
        <div class="col-sm-12">
            <footer>
                <p>Udemy VueJS course by YO!</p>
            </footer>
        </div>
    </div>
</template>
<script>
	export default{

	}
</script>