<template>
	<div class="row">
        <div class="col-xs-12 col-sm-6">
            <ul class="list-group">
	            <template v-for="service in services">
	                <service-item :service="service" :setStatus="setStatus"></service-item>
	                <hr>
	            </template>
            </ul>
        </div>
        <selected-service></selected-service>
    </div>
</template>
<script>
	import { eventBus } from "./main.js"; 
	import ServiceItem from './ServiceItem.vue';
	import SelectedService from './SelectedService.vue';
	export default {
		data: function(){
			return {
				title: "Services Page",
				services: [
					{id: 1, serviceStatus: 'normal'},
					{id: 2, serviceStatus: 'critical'},
					{id: 3, serviceStatus: 'unknown'},
					{id: 4, serviceStatus: 'normal'}
				]
			}
		},
		components: {
			'service-item': ServiceItem,
			'selected-service': SelectedService,
		},
		methods:{
			setStatus(id, status) {
				console.log(id);
				console.log(status);
				this.services.forEach(function(service) {
					if(service.id == id) {
						service.serviceStatus = status;
					}
				})
			}
		},
		created(){
			eventBus.$emit('changeTitle', this.title);
		}

	}
</script>