<template>
    <div class="container">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <div class="row">
            <div class="col-sm-12">
            	<h1 class="">Animations page</h1>
				<hr>
                <select v-model="alertAnimation" class="form-control">
                    <option value="fade">Fade</option>
                    <option value="slide">Slide</option>
                </select>
                <br><br>
                <button class="btn btn-primary" @click="show = !show">Show Alert</button>
                <br><br>
                <div class="posr cb">
	                <transition :name="alertAnimation">
	                    <div class="alert alert-info" v-show="show">This is some Info</div>
	                </transition>
                </div>
                <div class="posr cb">
	                <transition name="slide" type="animation" appear>
	                    <div class="alert alert-info" v-if="show">This is some Info</div>
	                </transition>
	            </div>
	            <div class="posr cb">
	                <transition
	                        enter-active-class="animated bounce"
	                        leave-active-class="animated shake"
	                >
	                    <div class="alert alert-info" v-if="show">This is some Info</div>
	                </transition>
            	</div>
            	<div class="posr cb">
	                <transition :name="alertAnimation" mode="out-in">
	                    <div class="alert alert-info" v-if="show" key="info">This is some Info</div>
	                    <div class="alert alert-warning" v-else key="warning">This is some Warning</div>
	                </transition>
	            </div>
                <hr>
                <button class="btn btn-primary" @click="load = !load">Load / Remove Element</button>
                <br><br>
                <transition
                        @before-enter="beforeEnter"
                        @enter="enter"
                        @after-enter="afterEnter"
                        @enter-cancelled="enterCancelled"

                        @before-leave="beforeLeave"
                        @leave="leave"
                        @after-leave="afterLeave"
                        @leave-cancelled="leaveCancelled"
                        :css="false">
                    <div style="width: 300px; height: 100px; background-color: lightgreen" v-if="load"></div>
                </transition>
                <hr>
                <button class="btn btn-primary"
                        @click="selectedComponent == 'app-success-alert' ? selectedComponent = 'app-danger-alert' : selectedComponent = 'app-success-alert'">
                    Toogle Components
                </button>
                <br><br>
                <div style="position: relative;">
	                <transition name="fade">
	                    <component :is="selectedComponent"></component>
	                </transition>
                </div>
                <hr>
                <button class="btn btn-primary" @click="addItem">Add Item</button>
                <br><br>
                <ul class="list-group">
                    <transition-group name="slide">
                        <li
                                class="list-group-item"
                                v-for="(number, index) in numbers"
                                @click="removeItem(index)"
                                style="cursor: pointer"
                                :key="number">{{ number }}
                        </li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
  	import { eventBus } from '../main.js';
  	import SuccessAlert from './animations/SuccessAlert.vue';
  	import DangerAllert from './animations/DangerAlert.vue';

	export default {
		data () {
			return {
				title: 'Animations Page',
				show: true,
                load: true,
                alertAnimation: 'fade',
                elementWidth: 100,
                selectedComponent: 'app-success-alert',
                numbers: [1, 2, 3, 4, 5]
			}
		},
		methods: {
			beforeEnter(el) {
                console.log('beforeEnter');
                this.elementWidth = 100;
                this.elementHeight = 5;
                el.style.width = this.elementWidth + 'px';
                el.style.height = this.elementHeight + 'px';
            },
            enter(el, done) {
                console.log('enter');
                let round = 1;
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth + round * 10) + 'px';
                    el.style.height = (this.elementWidth + round * 2) + 'px';
                    round++;
                    if (round > 20) {
                        clearInterval(interval);
                        done();
                    }
                }, 20);
            },
            afterEnter(el) {
                console.log('afterEnter');
            },
            enterCancelled(el) {
                console.log('enterCancelled');
            },
            beforeLeave(el) {
                console.log('beforeLeave');
                this.elementWidth = 300;
                this.elementHeight = 100;
                el.style.width = this.elementWidth + 'px';
                el.style.height = this.elementHeight + 'px';
            },
            leave(el, done) {
                console.log('leave');
                let round = 1;
                const interval = setInterval(() => {
                    el.style.width = (this.elementWidth - round * 10) + 'px';
                    el.style.height = (this.elementHeight - round * 5) + 'px';
                    round++;
                    if (round > 20) {
                        clearInterval(interval);
                        done();
                    }
                }, 20);
            },
            afterLeave(el) {
                console.log('afterLeave');
            },
            leaveCancelled(el) {
                console.log('leaveCancelled');
            },
			addItem () {
				const pos = Math.floor(Math.random() * this.numbers.length);
                this.numbers.splice(pos, 0, this.numbers.length + 1);
			},
			removeItem (index) {
				this.numbers.splice(index, 1);
			}

					
		},
		components: {
			appSuccessAlert: SuccessAlert,
			appDangerAlert: DangerAllert
		},	
		computed: {
			
		},
		filters: {
			reverse (value) {
				return value.split("").reverse().join("");
			}
		},	
		created () {
			eventBus.$emit('changeTitle', this.title);
		}
	}
</script>
<style >
	.cb{
		clear: both;
	}
	.posr{
		position: relative;
	}
	.list-group-item {
		z-index: 5;
		position: relative;
		background-color: #fff;
	}
	.fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity 1s;
    }

    .fade-leave {
        /*opacity: 1;*/
    }

    .fade-leave-active {
        transition: all 1s;
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    .slide-enter {
        opacity: 0;
        /*transform: translateY(20px);*/
    }

    .slide-enter-active {
        animation: slide-in 1s ease-out forwards;
        transition: opacity .5s;
        background-color: #dff0d8;
		border-color: #d0e9c6;
    }

    .slide-leave {

    }

    .slide-leave-active {
        animation: slide-out 1s ease-out forwards;
        transition: all 1s;
        top:auto;
        position: absolute;
        width: calc(100% - 30px);
        overflow: hidden;
        background-color: #f2dede;
		border-color: #ebcccc;
		z-index: 1;
    }

    .slide-move {
        transition: transform 1s;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(-40px);
            opacity: 1;
            height: 49.5px;
        }
        to {
            transform: translateY(-60px);
            opacity: 0;
            height: 0;
        }
    }	
</style>