<template>
	<div>
		<div v-customBlink:mouseenter.blink.delayed="{mainColor: 'red', secondColor: 'blue', delay: 3000}" class="myhook btn btn-primary">div</div>
		<div v-customOn:click="clicked" v-customOn:mouseenter="mouseenter" v-customOn:mouseleave="mouseleft" class="myhook btn btn-primary">div</div>		
	</div>
</template>
<script>
  	import { eventBus } from '../main.js'

	export default {
		data () {
			return {
				title: 'Directives page'
			}
		},
		methods: {
			clicked () {
				console.log('Clicked!!!');
			},
			mouseenter () {
				event.target.style.marginLeft = '100px';
				console.log("wtf!");
			},
			mouseleft () {
				//event.target.style('backgroun-color', 'green');
				console.log("it was mouse enter!");
				event.target.style.marginLeft = '0px';
				//event.target.style.marginLeft = '0';
			}			
		},
		directives: {
			'customBlink': {
				bind (el, binding) {
					// el.style.backgroundColor = 'green';
					// el.style.backgroundColor = binding.value;
					console.log('directive hooked');

					var delay = binding.modifiers['delayed'] ? 3000 : 0;
					if(binding.modifiers['blink']){
							var mainColor = binding.value.mainColor;
							var secondColor = binding.value.secondColor;
							var currentColor = mainColor;
							setTimeout(() => {
								setInterval(() => {
										currentColor == secondColor ? currentColor = mainColor : currentColor = secondColor;
									if (binding.arg == 'mouseenter'){
										el.style.backgroundColor = currentColor;
									} else {
										el.style.color = currentColor;
									}											
								}, binding.value.delay)
							}, delay);
					} else {
						setTimeout(() => {
							if (binding.arg == 'mouseenter'){
								el.style.backgroundColor = binding.value.mainColor;
							} else {
								el.style.color = binding.value.mainColor;
							}								
						}, delay);
					}
					
					
					// const type = binding.args;
					// const fn = binding.value;
					// el.addEventListener(type, fn);
				}
			},
			'customOn': {
				bind (el, binding) {
					// el.onclick = function(){
					// 	binding.value();
					// }
					const type = binding.arg;
					const fn = binding.value;
					el.addEventListener(type, fn);
				}
			}
		},		
		created () {
			eventBus.$emit('changeTitle', this.title);
		}
	}
</script>
<style scoped>
	.myhook{
		width: 100px;
		height: 100px;
		background-color: #ff0000;
	}
</style>