<template>
    <div class="component">
        <h1>The Dunamic Component</h1>
        <hr>
        <div class="">
            <br>
                <button class="btn btn-primary" @click="active_cp = 'cpBlue'">Load Blue Template</button>
                <button class="btn btn-success" @click="active_cp = 'cpGreen'">Load Green Template</button>
                <button class="btn btn-danger" @click="active_cp = 'cpRed'">Load Red Template</button>
                <hr>
                <component :is="active_cp">
                    <h2>{{ cp_heading }}</h2>
                    <p>{{ cp_content }}</p>
                </component>
            <!-- <cp-red>
                <h2>Component Heading</h2>
                <p>Component description updated</p>
            </cp-red>
            <cp-blue>
                <h2>Component Heading</h2>
                <p>Component description</p>
            </cp-blue>
            <cp-green>
                <h2>Component Heading</h2>
                <p>Component description</p>
            </cp-green> -->
        </div>
    </div>
</template>

<script>
    import { eventBus } from "../main.js";

    import Red from './Red.vue';
    import Blue from './Blue.vue';
    import Green from './Green.vue';

    export default {
        data: function () {
            return {
                title: 'The Dunamic Component',
                cp_heading: 'Component Heading',
                cp_content: 'Some aditional content',
                active_cp: 'cpRed'
            }
        },
        components: {
            cpRed: Red,
            cpBlue: Blue,
            cpGreen: Green
        },
        methods: {
            
        },
        created() {
            eventBus.$emit('changeTitle', this.title);
        }
    }
</script>

<style scoped>
    button {
        margin-right: 10px;
        cursor: pointer;
    }
</style>
