<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <p>Exercise 1)</p>
                <p>Build a local Filter which reverses the Text it is applied on</p>
                <input type="text" v-model="toConvert" name="">
                <p>{{ toConvert | reverse }}</p>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
				<p>Exercise 2</p>
				<p>Build a global Filter which counts the length of a word and it appends it <br>
				Like this: "Test" => Gets Filtered to => "Test (4)"</p>
				<p><strong>{{ toConvert | countChars }}</strong></p>
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
				<p>Exercise 3</p>
				<p>Do the same as in Exercises 1 & 2, now with Computed Properties</p>
                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <p> Text before <pre>{{ title }}</pre></p>
                <p> Text Computed <pre>{{ cmp }}</pre></p>
                <p> Use reverse filter to computed <pre>{{ cmp | reverse | countChars }}</pre></p>
				
				<p>Exercise 4</p>
				<p>Share the Computed Property rebuilding Exercise 2 via a Mixin</p>
                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                {{ getLenght ( title ) }}
            </div>
        </div>
    </div>
</template>

<script>
  	import { eventBus } from '../main.js'
  	import { ShareMixin } from './mixins/ShareMixin.js'

	export default {
		data () {
			return {
				title: 'Filters and Mixins',
				toConvert: ''
			}
		},
		methods: {
					
		},
		directives: {
			
		},	
		computed: {
			cmp () {
				return this.title.split("").reverse().join("");
			}
		},
		filters: {
			reverse (value) {
				return value.split("").reverse().join("");
			}
		},	
		mixins: [ShareMixin],
		created () {
			eventBus.$emit('changeTitle', this.title);
		}
	}
</script>
<style scoped>
	
</style>