<template>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
</template>

<script>
    import { eventBus } from "../main.js";

	export default {
        data: function() {
            return{
                title: 'Not set yet'
            }
        },
        created() {
            eventBus.$on('changeTitle', (title) => {
                this.title = title;
                console.log( title );
            });
        }
	}
</script>