<template>
    <div class="component col-sm-12">
    	<br>
    	<div v-if="user == null">
        	<h3>You may edit the User About here</h3>
    	</div>
    	<div v-else>
	        <h3>Edit the User About</h3>
	        <textarea v-model="user.about"></textarea>
	        <button class="btn btn-primary" @click="updateAbout">Edit me!</button>
    	</div>
        <br>
    </div>
</template>

<script>
	import { servicesBus } from './../main.js'
	import axios from 'axios'

	export default {
		props: {
			user: {
		        type: Object,
		        default: null
		      }			
		},
		methods: {
			updateAbout () {
				console.log('Try update');
				const formData = {
					name: this.user.name,
					last_name: this.user.last_name,
					email: this.user.email,
					password: this.user.password,
					confirm_password: this.user.confirm_password,
					store: this.user.store,
					about: this.user.about
				}
				axios.put('/users/'+ this.user.id +'.json', formData)
					.then( res => {
						console.log(res);
					})
					.catch( error => {
						console.log(error);
					});				
			}
		},
		created () {
	      servicesBus.$on('userSelected', (user) => {
	        console.log(user)
	        this.user = user
	      })
	    }
	}
</script>

<style scoped>
    div.component {
        background-color: lightgreen;
        padding-bottom: 15px;
    }
    textarea {
    	width: 100%;
		margin-bottom: 15px;
    }
</style>
