<template>
    <div class="component">
    	<div v-if="user == null" class="col-sm-12">
        	<br><h3>You may view the User Details here</h3><p>Please click on user name</p><br>
    	</div>
        <div v-else class="col-sm-12">
        	<br>
    		<p>Many Details</p>
    		<p>User ID: <strong>{{ user.id }}</strong></p>
    		<p>User Name: <strong>{{ user.name }} {{ user.last_name }}</strong></p>
    		<p>User email: <strong>{{ user.email }}</strong></p>
    		<p>User store data: <strong>{{ user.store? 'Yes':'No' }}</strong></p>
        	<br>
        </div>
        
    </div>
</template>

<script>
  	import { servicesBus } from './../main.js'

	export default {
		props: {
			user: {
		        type: Object,
		        default: null
		      }			
		},
		created () {
	      servicesBus.$on('userSelected', (user) => {
	        console.log(user)
	        this.user = user
	      })
	    }
	}
</script>

<style scoped>
    div.component {
        background-color: lightcoral;
    }
</style>
