<template>
    <div class="component">
        <h1>The User Component</h1>
        <p>I'm an awesome User!</p>
        <ul v-if="users">
            <li v-for="(user, index) in users">
                <strong @click="selectUser(index)">{{user.name}} {{user.last_name}}</strong>
            </li>
        </ul>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-user-detail></app-user-detail>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-user-edit></app-user-edit>
            </div>
        </div>
    </div>
</template>

<script>
    import { eventBus, servicesBus } from "../main.js";

    import UserDetail from './UserDetail.vue';
    import UserEdit from './UserEdit.vue';

    import store from './../store.js'

    export default {
        data: function() {
            return {
                title: 'User Component Page',
            }
        },
        store,
        computed: {
            users () {
                return store.getters.getUsers;
            }
        },
        components: {
            appUserDetail: UserDetail,
            appUserEdit: UserEdit
        },
        methods: {
            changeTitle() {
                eventBus.$emit('changeTitle', this.title);
            },
            selectUser (index) {
                servicesBus.$emit('userSelected', this.users[index]);
            }

        },
        created () {
            eventBus.$emit('changeTitle', this.title);
        },
        beforeCreate () {
            store.dispatch('fetchUsers');
        }
    }
</script>

<style scoped>
    div.component {
        background-color: lightblue;
    }
</style>
