<template>
	<div class="container">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="">Math Quiz <button @click="clear" class="btn btn-link">Clear	</button></h1>
				<hr>	
				<div class="row">
					<div class="col-sm-12 col-md-6 offset-md-3">
						<transition name="flip" mode="out-in" type="animation">
							<component :is="mode" :logs="logs" @result="QuickShow"></component>
						</transition>
							<!-- <quiz-question v-if="mode == 'question'" :logs="logs" @result="QuickShow" :key="mode"></quiz-question>
							<quiz-correct v-if="mode == 'correct'" :key="mode"></quiz-correct>
							<quiz-wrong v-if="mode == 'wrong'" :key="mode">{{ number }}></quiz-wrong> -->
					</div>
					<quiz-result v-if="logs.length" :logs="logs"></quiz-result>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { eventBus } from '../../main.js';
import QuizResult from './QuizResult.vue';
import QuizQuestion from './QuizQuestion.vue';
import QuizCorrect from './QuizCorrect.vue';
import QuizWrong from './QuizWrong.vue';

export default {
	data () {
		return {
			title: 'Math Quiz',
			logs: [],
			mode: 'quiz-question'
		}
	},
	methods: {
		QuickShow (value) {
			if(value){
				this.mode = 'quiz-correct';
			} else {
				this.mode = 'quiz-wrong';
			}
			setTimeout(()=>{
				this.mode ='quiz-question';
			},2000);
		},
		clear () {
			this.logs = [];
		}
	},
	components: {
		quizResult: QuizResult,
		quizQuestion: QuizQuestion,
		quizCorrect: QuizCorrect,
		quizWrong: QuizWrong
	},	
	computed: {
		
	},
	filters: {

	},	
	created () {
		eventBus.$emit('changeTitle', this.title);
	}
}
</script>

<style scoped>
		button{cursor: pointer;}
		.card{
			min-height: 222px;
		}
    .flip-enter {
        /*transform: rotateY(0deg);*/
    }

    .flip-enter-active {

        animation: flip-in  0.5s ease-out forwards;
    }

    .flip-leave {
        /*transform: rotateY(0deg);*/
    }

    .flip-leave-active {
        animation: flip-out 0.5s ease-out forwards;
       
    }

    @keyframes flip-out {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(90deg);
        }
    }

    @keyframes flip-in {
        from {
            transform: rotateY(90deg);
        }
        to {
            transform: rotateY(0deg);
        }
    }
</style>