<template>
	<div class="col-sm-12 col-md-6 offset-md-3">
		<br>
		<br>
		<h2>Quiz results</h2>
		<div class="card">
			<ul class="list-group list-group-flush">
				<transition-group name="fade">
					<li v-for="(log, index) in logs" :class="{'bg-success': log.correct, 'bg-danger': !log.correct}"  class="list-group-item" :key="index">
						<span class="pull-left">{{ index + 1 }})&nbsp;</span> 
						{{ log.message }}
					</li>
				</transition-group>
			</ul>
		</div>
	</div>	
</template>

<script>
	export default {
		props: {
			logs: {
				type: Array,
				required: true
			}
		}
	}
</script>

<style scoped>
.slide-enter {
        opacity: 0;
        /*transform: translateY(20px);*/
    }

    .slide-enter-active {
       /* animation: slide-in 1s ease-out forwards;*/
        transition: opacity 5s;
        background-color: black;
		border-color: black;
    }

    .slide-leave {

    }

    .slide-leave-active {
        animation: slide-out 1s ease-out forwards;
        transition: all 1s;
        top:auto;
        position: absolute;
        width: calc(100% - 30px);
        overflow: hidden;
        background-color: #f2dede;
		border-color: #ebcccc;
		z-index: 1;
    }

    .slide-move {
        transition: transform 1s;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(-40px);
            opacity: 1;
            height: 49.5px;
        }
        to {
            transform: translateY(-60px);
            opacity: 0;
            height: 0;
        }
    }	
	.fade-enter-active {
        transition: opacity 0.5s;
    }

    .fade-enter {
        opacity: 0;
    }    	
</style>