<template>
	<div class="card bg-success">
		<div class="card-header bg-success">
			<h2 class="text-center">Your answer is Correct.</h2>
		</div>
		<div class="card-body">
			<div class="col-sm-12">
				<div class="text-center">
					<br>
					<br>
					<p class="text-center">
						Try again!
					</p>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>	
</template>