<template>
	<div class="card">
		<div class="card-header">
			<h3 class="text-center">What is {{ firstNumber }} {{ operator }} {{ secondNumber }}? <!-- {{ result }} --></h3>
		</div>
		<div class="card-body">
			<div class="col-sm-12">
				<div class="row">
					<div @click="setAnswer(variant)" v-for="variant in variants" class="col-sm-6 text-center"><button class="btn btn-primary">{{variant}}</button></div>
				</div>
			</div>
		</div>
	</div>	
</template>

<script>
	export default {
		props: {
			logs: {
				type: Array,
				required: true
			}
		},		
		data () {
			return {
				variants: [],
				firstNumber: 0,
				secondNumber: 0,
				operators: ['+', '-', '*'],
				operator: '',
				result: '',				
			}
		},
		methods: {
			getNumber () {
				return Math.floor((Math.random() * 100) + 1);
			},
			getOperator () {
				var index = Math.floor((Math.random() * 3) );
				return this.operators[index];
			},
			setAnswer (userChoose) {
				if(userChoose == this.result){
					this.logs.unshift({correct: true, message: 'MathQuiz (' + this.firstNumber + ' ' + this.operator + ' ' + this.secondNumber + ') = ' + userChoose + ' Correct!'});
						//this.setNumbers();
						this.$emit('result', true);
				} else {
					this.logs.unshift({correct: false, message: 'MathQuiz (' + this.firstNumber + ' ' + this.operator + ' ' + this.secondNumber + ') != ' + userChoose + ' Wrong!!! It is: ' + this.result });
						//this.setNumbers();
						this.$emit('result', false);
				}
				
			},
			setNumbers () {
				console.log('called');
				this.firstNumber = this.getNumber();
				this.secondNumber = this.getNumber();
				this.operator = this.getOperator();
				if(this.operator == '+'){
					this.result = parseInt(this.firstNumber) + parseInt(this.secondNumber);
				} else if(this.operator == '-'){
					this.result = parseInt(this.firstNumber) - parseInt(this.secondNumber);
				} else {
					this.result = parseInt(this.firstNumber) * parseInt(this.secondNumber);
				}
				this.variants = [];
				this.variants.push(this.result);
				this.variants.push(this.result+this.getNumber());
				this.variants.push(this.result-this.getNumber());
				this.variants.push(this.result*this.getNumber());
				this.unsortArr(this.variants);
			},
			unsortArr (array) {
			  var currentIndex = array.length, temporaryValue, randomIndex;

			  // While there remain elements to shuffle...
			  while (0 !== currentIndex) {

			    // Pick a remaining element...
			    randomIndex = Math.floor(Math.random() * currentIndex);
			    currentIndex -= 1;

			    // And swap it with the current element.
			    temporaryValue = array[currentIndex];
			    array[currentIndex] = array[randomIndex];
			    array[randomIndex] = temporaryValue;
			  }

			  this.variants = array;
			}			
		},	
		created () {
			this.setNumbers ();
		}
	}
</script>

<style scoped>
button{
	margin:20px auto;
	cursor: pointer;
}
</style>