<template>
	<div>	
		<button type="button" class="btn btn-primary lnk" data-toggle="modal" data-target="#logInForm">Log In</button>
		<div id="logInForm" class="modal fade">
			<form class="form-signin modal-dialog">
				<h2 class="form-signin-heading">Please sign in</h2>
				<div class="form-group" :class="{invalid: $v.email.$error}">
					<label for="inputEmail" class="sr-only">Email address</label>
					<input @blur="$v.email.$touch()" v-model="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
					<small v-if="!$v.email.required && $v.email.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.email.email && $v.email.$dirty" class="form-text text-muted">Please provide correct email address</small>				
				</div>
				<div class="form-group" :class="{invalid: $v.password.$error}">
					<label for="inputPassword" class="sr-only">Password</label>
					<input v-model="password" type="password" class="form-control" placeholder="Password" required="">
					<small v-if="!$v.password.required && $v.password.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.password.minLength && $v.password.$dirty" class="form-text text-muted">Please provide more than 
								{{ $v.password.$params.minLength.min }} chars</small>				
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<div class="form-group">
					<button @click.prevent="logIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	
	import axios from './../../axios_auth.js'
  import { required , email } from 'vuelidate/lib/validators'
	import store from './../../store.js'


	export default {
		data () {
			return {
				email: '',
				password: '',
				remember: false
			}
		},
		validations: {
			email: {
				email,
				required
			},
			password: {
				required,
			},
		},
		store,
		methods: {
			logIn () {
				store.dispatch('login',{
					email: this.email,
					password: this.password
				})
			}
		}

	}
</script>

<style lang="scss" scoped>
	
	#logInForm{
		form {
			background: #fff;
			border: 1px solid black;
			padding: 20px;
			width: 300px;
			height: 350px;
			top: calc(50% - 175px);
		}
		button {
			cursor: pointer;
		}			
	}
</style>