<template>
	<div>	
		<button type="button" class="btn btn-primary lnk" data-toggle="modal" data-target="#signUpForm">Sign Up</button>
		<div id="signUpForm" class="modal fade">
			<form class="form-signin modal-dialog clearfix">
				<h2>Sign UP</h2>
				<div class="form-group" :class="{invalid: $v.fName.$error}">
					<label for="exampleInputEmail1">First Name</label>
					<input @blur="$v.fName.$touch()" v-model="fName" type="text" class="form-control" placeholder="Enter your first name">
					<small v-if="!$v.fName.required && $v.fName.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.fName.minLength && $v.fName.$dirty" class="form-text text-muted">Please provide more than 
					{{ $v.fName.$params.minLength.min }} chars</small>
				</div>
				<div class="form-group" :class="{invalid: $v.lName.$error}">
					<label for="exampleInputEmail1">Last Name</label>
					<input @blur="$v.lName.$touch()" v-model="lName" type="text" class="form-control" placeholder="Enter your last name">
					<small v-if="!$v.lName.required && $v.lName.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.lName.minLength && $v.lName.$dirty" class="form-text text-muted">Please provide more than 
					{{ $v.lName.$params.minLength.min }} chars</small>							

				</div>							

				<div class="form-group" :class="{invalid: $v.mail.$error}">
					<label for="exampleInputEmail1">Email address</label>
					<input v-model="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @blur="$v.mail.$touch()">

					<small v-if="!$v.mail.$error" class="form-text text-muted">We'll never share your email with anyone else.</small>
					<small v-if="!$v.mail.required && $v.mail.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.mail.email && $v.mail.$dirty" class="form-text text-muted">Please provide correct email address</small>
				</div>
				<div class="form-group" :class="{invalid: $v.password.$error}">
					<label for="exampleInputPassword1">Password</label>
					<input @blur="$v.password.$touch()" v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					<small v-if="!$v.password.required && $v.password.$dirty" class="form-text text-muted">This field is required</small>
					<small v-if="!$v.password.minLength && $v.password.$dirty" class="form-text text-muted">Please provide more than 
					{{ $v.password.$params.minLength.min }} chars</small>							
				</div>
				<div class="form-group" :class="{invalid: $v.confirmPassword.$error}">
					<label for="exampleInputPassword1">Confirm Password</label>
					<input @blur="$v.confirmPassword.$touch()" v-model="confirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					<small v-if="$v.confirmPassword.$error" class="form-text text-muted">Confirm Password must be same as Password</small>							
				</div>
				<div class="form-group" :class="{invalid: $v.store.$invalid}">
					<!-- <input v-model="store" type="checkbox" class="form-check-input"> -->
					<label>Store Data?</label>
					<custom-switch @input="$v.store.$touch()" v-model="store"></custom-switch>
					<small v-if="$v.store.$invalid" class="form-text text-muted">Please confirm saving data</small>	
				</div>
				<div class="form-group">
					<!-- <input v-model="store" type="checkbox" class="form-check-input"> -->
					<label>About</label>
					<textarea class="form-control" v-model="about"></textarea>	
				</div>
				<div class="form-group">
					<button @click.prevent="signUp" :disabled="$v.$invalid" type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	
	import CustomSwitch from './../forms/CustomSwitch.vue'
	import { required , email , minLength , sameAs } from 'vuelidate/lib/validators'
	import store from './../../store.js'

	export default {
		data () {
			return {
				fullName: '',
				fName: '',
				lName: '',
				mail: '',
				about: '',
				password: '',
				confirmPassword: '',
				store: false,
			}
		},
		store,
		validations: {
			mail: {
				email,
				required
			},
			fName: {
				required,
				minLength: minLength(2)
			},
			lName: {
				required,
				minLength: minLength(2)
			},
			password: {
				required,
				minLength: minLength(6)
			},
			confirmPassword: {
				sameAs: sameAs('password')
			},
			store: {
				sameAs: sameAs( vm => {
					return true
				})
			}
		},
		methods: {
			signUp () {
				const formData = {
					email: this.mail,
					name: this.fName,
					last_name: this.lName,
					password: this.password,
					confirm_password: this.confirmPassword,
					store: this.store,
					about: this.about
				}				
				store.dispatch('signup', formData)				
			}
		},
		components: {
			customSwitch: CustomSwitch
		}

	}
</script>

<style lang="scss" scoped>

	#signUpForm{
		form{
			background: #fff;
			border: 1px solid black;
			padding: 20px;
			max-width: 560px;
		}
		.form-group{
			width: 50%;
			float: left;
			&:nth-child(2n + 1){
				padding-left: 10px;
				
			}
			&:nth-child(2n + 2){
				padding-right: 10px;
				clear: left;
			}
		}
		button {
			cursor: pointer;
			float: right;	
			margin-top: 	50px;
		}		
	}
</style>