<template>
	<div>
		some page content!
	</div>
</template>

<script>
	import { eventBus } from '../../main.js'

	export default {
		data () {
			return {
				title: 'Work with data using Axios and Firebase',
			}
		},
		methods: {
					
		},
		directives: {
			
		},	
		computed: {
			
		},
		created () {
			eventBus.$emit('changeTitle', this.title);
		}
	}	
</script>

<style>
	
</style>