<template>
	<div>
		<div @click="returns(true)" :class="{active: value}" id="on">
			Yes
		</div>
		<div @click="returns(false)" :class="{active: !value}" id="off">
			No
		</div>
	</div>
</template>

<script>
	export default {
		props: ['value'],
		methods: {
			returns (isOn) {
				this.$emit('input', isOn);
			}
		}
	}
</script>

<style scoped>
	#on, #off {
		width: 40px;
		height: 20px;
		background-color: lightgray;
		padding: 2px;
		display: inline-block;
		margin: 10px -2px;
		box-sizing: content-box;
		cursor: pointer;
		text-align: center;
		line-height: 20px;
		color: #000 !important;

	}
	#on:hover, #on.active{
		background-color: lightgreen;
	}
	#off:hover, #off.active{
		background-color: lightcoral;
	}
</style>