<template>
	<div class="container">
		<form>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<form v-if="submited != true" method="POST" action="/send.php">
						<p>Exercise 1</p>
						<p>Create a Signup Form where you retrieve the following Information</p>

						<!-- <full-name v-model="fullName"></full-name> -->

						<div class="form-group" :class="{invalid: $v.fName.$error}">
							<label for="exampleInputEmail1">First Name</label>
							<input @blur="$v.fName.$touch()" v-model="fName" type="text" class="form-control" placeholder="Enter your first name">
							<small v-if="!$v.fName.required && $v.fName.$dirty" class="form-text text-muted">This field is required</small>
							<small v-if="!$v.fName.minLength && $v.fName.$dirty" class="form-text text-muted">Please provide more than 
							{{ $v.fName.$params.minLength.min }} chars</small>
						</div>
						<div class="form-group" :class="{invalid: $v.lName.$error}">
							<label for="exampleInputEmail1">Last Name</label>
							<input @blur="$v.lName.$touch()" v-model="lName" type="text" class="form-control" placeholder="Enter your last name">
							<small v-if="!$v.lName.required && $v.lName.$dirty" class="form-text text-muted">This field is required</small>
							<small v-if="!$v.lName.minLength && $v.lName.$dirty" class="form-text text-muted">Please provide more than 
							{{ $v.lName.$params.minLength.min }} chars</small>							

						</div>							

						<div class="form-group" :class="{invalid: $v.mail.$error}">
							<label for="exampleInputEmail1">Email address</label>
							<input v-model="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @blur="$v.mail.$touch()">

							<small v-if="!$v.mail.$error" class="form-text text-muted">We'll never share your email with anyone else.</small>
							<small v-if="!$v.mail.required && $v.mail.$dirty" class="form-text text-muted">This field is required</small>
							<small v-if="!$v.mail.email && $v.mail.$dirty" class="form-text text-muted">Please provide correct email address</small>
						</div>
						<div class="form-group" :class="{invalid: $v.password.$error}">
							<label for="exampleInputPassword1">Password</label>
							<input @blur="$v.password.$touch()" v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							<small v-if="!$v.password.required && $v.password.$dirty" class="form-text text-muted">This field is required</small>
							<small v-if="!$v.password.minLength && $v.password.$dirty" class="form-text text-muted">Please provide more than 
							{{ $v.password.$params.minLength.min }} chars</small>							
						</div>
						<div class="form-group" :class="{invalid: $v.confirmPassword.$error}">
							<label for="exampleInputPassword1">Confirm Password</label>
							<input @blur="$v.confirmPassword.$touch()" v-model="confirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							<small v-if="$v.confirmPassword.$error" class="form-text text-muted">Confirm Password must be same as Password</small>							
						</div>
						<div class="form-check" :class="{invalid: $v.store.$invalid}">
							<div class="form-group">
								<!-- <input v-model="store" type="checkbox" class="form-check-input"> -->
								<label>Store Data?</label>
								<custom-switch @input="$v.store.$touch()" v-model="store"></custom-switch>
								<small v-if="$v.store.$invalid" class="form-text text-muted">Please confirm saving data</small>	
							</div>
						</div>
						<div class="form-group">
							<!-- <input v-model="store" type="checkbox" class="form-check-input"> -->
							<label>About</label>
							<textarea class="form-control" v-model="about"></textarea>	
						</div>
						<button @click.prevent="submit" :disabled="$v.$invalid" type="submit" class="btn btn-primary">Submit</button>
					</form>
					<!-- Exercise 1 -->
					<!-- Create a Signup Form where you retrieve the following Information -->
					<!-- Full Name (First Name + Last Name) -->
					<!-- Mail -->
					<!-- Password -->
					<!-- Store Data? Yes/No -->

					<!-- Exercise 2 -->
					<!-- Only display the Form if it has NOT been submitted -->
					<!-- Display the Data Summary ONCE the Form HAS been submitted -->

					<!-- Exercise 3 -->
					<!-- Edit the Example from above and create a custom "Full Name" Control -->
					<!-- which still holds the First Name and Last Name Input Field -->
				</div>
			</div>
		</form>
		<hr>
		<div class="row" v-if="submited == true">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Your Data</h4>
					</div>
					<div class="panel-body">
						<p>Full Name: {{ fName }} {{ lName }} {{ fullName }}</p>
						<p>Mail: {{ mail }}</p>
						<p>Password: {{ password }}</p>
						<p>Store in Database?: {{ store }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import FullName from './FullName.vue'
	import CustomSwitch from './CustomSwitch.vue'
  	import { eventBus } from '../../main.js'
  	import { required , email , minLength , sameAs } from 'vuelidate/lib/validators'
  	import store from './../../store.js'


	export default {
		data () {
			return {
				title: 'Forms page',
				fullName: '',
				fName: '',
				lName: '',
				mail: '',
				about: '',
				password: '',
				confirmPassword: '',
				store: false,
				submited: false
			}
		},
		validations: {
			mail: {
				email,
				required
			},
			fName: {
				required,
				minLength: minLength(2)
			},
			lName: {
				required,
				minLength: minLength(2)
			},
			password: {
				required,
				minLength: minLength(6)
			},
			confirmPassword: {
				sameAs: sameAs('password')
			},
			store: {
				sameAs: sameAs( vm => {
					return true
				})
			}
		},
		store,
		methods: {
			submit () {
				const formData = {
					email: this.mail,
					name: this.fName,
					last_name: this.lName,
					password: this.password,
					confirm_password: this.confirmPassword,
					store: this.store,
					about: this.about
				}
				store.dispatch('signup', formData);
				this.submited = true;
			}
		},
		components: {
			fullName: FullName,
			customSwitch: CustomSwitch
		},
		created() {
        eventBus.$emit('changeTitle', this.title);
    }		
	}
</script>

<style lang="scss" scoped>
	.invalid{
		small, label{
			color: red !important;
		}
	}
	button{
		cursor: pointer;
	}
</style>
