<template>
	<div>
		<div class="form-group">
			<label for="exampleInputEmail1">First Name</label>
			<input @blur="$v.FName.$touch()" @input.lazy="returns(true, $event)" :value="FName" type="text" class="form-control" placeholder="Enter your first name">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Last Name</label>
			<input @blur="$v.LName.$touch()" @input.lazy="returns(false, $event)" :value="LName" type="text" class="form-control" placeholder="Enter your last name">
		</div>	
	</div>
</template>

<script>
  	import { required , minLength } from 'vuelidate/lib/validators'

	export default {
		props: {
			value: {
				type: String
			}
		},
		methods: {
			returns (isFname, event) {
				var tmpName = '';
				if(isFname){
					tmpName = event.target.value + ' ' + this.LName;
				} else {
					tmpName =  this.FName + ' ' + event.target.value;

				}
				this.value = tmpName;
				this.$emit('input', this.value);
			},
			validations: {
				FName: {
					required,
					minLength: minLength(2)
				},
				LName: {
					required,
					minLength: minLength(2)
				}
			},
		},
		computed: {
			FName () {
				var nameArr = this.value.split(/\s+/);
				var fname = nameArr.slice(0, -1).join(" ");
				return fname;

			},
			LName () {
				var nameArr = this.value.split(/\s+/);
				var lname = nameArr.pop();
				return lname;
			}
		}
	}
</script>

<style></style>